  <div class="container">
    
        <div class="row justify-content-center">

        <%= form_for @coleta, url: coleta_mensal_inserir_path do |f| %>
        <%= f.hidden_field :id_projeto, :value => @projeto.id %>
        <%= f.hidden_field :tipoColeta, :value => "SCM" %>
            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">SCM</div>
                    <div class="box-description">Coleta de dados de acessos:
                    <p> <%= f.select, class:"form-select" :mes, [['Janeiro', 1], ['Fevereiro', 2], ['Março', 3], ['Abril', 4],  ['Maio', 5],  ['Junho', 6],  ['Julho', 7],  ['Agosto', 8],  ['Setembro', 9],  ['Outubro', 10],  ['Novembro', 11],  ['Dezembro', 12] ] %></p>
                    </div>
                    <%= f.submit "Criar coleta", class:"box-link" %>

                    </div> 
                </div>
            </div>
        <% end %>


            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">TVpA</div>
                    <div class="box-description">Coleta de dados Econômicos-financeiros e Técnico-operacionais
                     <select id="uf" class="form-select">
                                <option selected>Mês da coleta</option>
                                <option value="SP">Janeiro</option>
                                <option value="RJ">Fevereiro</option>
                                <option value="RJ">Março</option>
                                <option value="RJ">Abril</option>
                                <option value="RJ">Maio</option>
                                <option value="RJ">Junho</option>
                                <option value="RJ">Julho</option>
                                <option value="RJ">Agosto</option>
                                <option value="RJ">Setembro</option>
                                <option value="RJ">Outubro</option>
                                <option value="RJ">Novembro</option>
                                <option value="RJ">Dezembro</option>
                              
                                <!-- Adicione mais opções conforme necessário -->
                            </select>
                    </div>
                     <a href="#" class="box-link">Criar coletas</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">STFC</div>
                    <div class="box-description">Coleta de dados de Infraestrutura de Transporte
                    <select id="uf" class="form-select">
                                <option selected>Mês da coleta</option>
                                <option value="SP">Janeiro</option>
                                <option value="RJ">Fevereiro</option>
                                <option value="RJ">Março</option>
                                <option value="RJ">Abril</option>
                                <option value="RJ">Maio</option>
                                <option value="RJ">Junho</option>
                                <option value="RJ">Julho</option>
                                <option value="RJ">Agosto</option>
                                <option value="RJ">Setembro</option>
                                <option value="RJ">Outubro</option>
                                <option value="RJ">Novembro</option>
                                <option value="RJ">Dezembro</option>
                              
                                <!-- Adicione mais opções conforme necessário -->
                            </select>
                    </div>
                     <a href="#" class="box-link">Criar coletas</a>
                </div>
            </div>
        </div>
    </div>
</div>
