  <div class="container">
    <h2><b>Início</b></h2>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">MENSAL</div>
                    <div class="box-description">Coleta de dados de acessos</div>
                    <a href="#" class="box-link">Ver coletas</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">SEMESTRAL</div>
                    <div class="box-description">Coleta de dados Econômicos-financeiros e Técnico-operacionais</div>
                    <a href="#" class="box-link">Ver coletas</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">ANUAL</div>
                    <div class="box-description">Coleta de dados de Infraestrutura de Transporte<br/><br/></div>
                    <a href="#" class="box-link">Ver coletas</a>
                </div>
            </div>
        </div>
    </div>

<div class="container mt-5">
     <div class="box-title">COLETAS <BR/></div>
        <table class="table table-custom">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Status</th>
                    <th scope="col">Formulário</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>

                <% for coleta in @coletas %>
                <tr>
                    <td><%= coleta.textoData %></td>
                    <td><%= coleta.status %></td>
                    <td><%= coleta.tituloColeta %></td>
                    <td><%= coleta.tipoColeta %></td>
                    <td><a href="/cliente/mensal?id_coleta=<%= coleta.id %>" class="btn btn-sm btn-custom">Fazer coleta</a> </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>

