# encoding: UTF-8
<div class="container">

<h2><b>Criar Conta</b></h2>
<h4>Para criar sua conta precisamos que você preencha as informações a seguir.</h4>

<%= form_for @cliente, url: { action: "create" } do |f| %>



<div class="box tabular">
<% if @user.auth_source_id.nil? %>
  <p><%= f.text_field :login, :size => 25, :required => true %></p>

  <p><%= f.password_field :password, :size => 25, :required => true %>
  <em class="info"><%= l(:text_caracters_minimum, :count => Setting.password_min_length) %></em>
  <% if Setting.password_required_char_classes.any? %>
    <em class="info"><%= l(:text_characters_must_contain, :character_classes => Setting.password_required_char_classes.collect{|c| l("label_password_char_class_#{c}")}.join(", ")) %></em>
  <% end %>
  </p>
  <p><%= f.password_field :password_confirmation, :size => 25, :required => true %></p>
<% end %>




<h2><b>Criar Conta</b></h2>
<h4>Para criar sua conta precisamos que você preencha as informações a seguir.</h4>


<br/>
<h3>DADOS DO CLIENTE</h3>


       <%= f.label :text_field, 'Nome' %>
       <p class="text-xl-start"><%= f.text_field :firstname, :required => true %></p>
   
   

        <%= f.label :text_field, 'Sobrenome' %>
        <p><%= f.text_field :lastname, :required => true %></p>



        <%= f.label :text_field, 'Email' %>
        <p><%= f.text_field :mail, :required => true %></p>

       
        <%= f.label :empresaNome, 'Nome da Empresa' %>
        <%= f.text_field :empresaNome, class: "form-control" %>


<h2>DADOS DO USUÁRIO</h2>

        <%= f.label :user, 'Usuário' %>
        <p><%= f.text_field :login, :size => 25, :required => true %></p>

       <%= f.label :password_field, 'Senha' %>
         <p><%= f.password_field :password, :size => 25, :required => true %>
  <em class="info"><%= l(:text_caracters_minimum, :count => Setting.password_min_length) %></em>
  <% if Setting.password_required_char_classes.any? %>
    <em class="info"><%= l(:text_characters_must_contain, :character_classes => Setting.password_required_char_classes.collect{|c| l("label_password_char_class_#{c}")}.join(", ")) %></em>
  <% end %>
  </p>
  <%= f.label :password_field, 'Conformação de Senha' %>
  <p><%= f.password_field :password_confirmation, :size => 25, :required => true %></p>








    <div class="form-inline">
        <%= f.submit "Inserir novo Cliente", class:" icon icon-add float-right" %>
    </div>

</div>

