# encoding: UTF-8


<div class="container">

<h2><b>Criar Conta</b></h2>
<h4>Para criar sua conta precisamos que você preencha as informações a seguir.</h4>
<%= form_for @cliente, url: cliente_index_path do |f| %>

<br/>
<h3>Informações Gerais</h3>
   
 <div class="row align-items-start">
  
   <div class="col">
        <%= f.label :text_field, 'Nome' %>
        <p><%= f.text_field :firstname, :required => true %></p>
    </div>
 </div>

 <div class="row align-items-start">
   <div class="col">
        <%= f.label :text_field, 'Sobrenome' %>
        <p><%= f.text_field :lastname, :required => true %></p>
   </div>
 </div>

 <div class="row align-items-start">
   <div class="col">
        <%= f.label :text_field, 'Email' %>
        <p><%= f.text_field :mail, :required => true %></p>
   </div>
 </div>



<div class="row align-items-start">
    <div class="col">
        <%= f.label :user, 'Usuário' %>
        <p><%= f.text_field :login, :size => 25, :required => true %></p>
    </div>
</div>



    <div class="form-inline">
        <%= f.submit "Inserir novo Cliente", class:" icon icon-add float-right" %>
    </div>
<% end %>
</div>

