<div class="container-fluid">
  <div class="row">
    <div class="col-4 col-4-custom">
      <!-- Conteúdo da coluna de largura 4 (width: 18%) -->
      <div class="p-3 mb-2">
       <%= render :partial => 'menu' %>
       <%= render :partial => 'no_data' if @no_configuration_data %>
    </div>
    <div class="col-8">
      <!-- Conteúdo da coluna de largura 8 com boxes -->
      <div class="row">
        <div class="col-4">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Mensal</h5>
              <p class="card-text">SCM, SEAC, STFC</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Semestral</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Anual</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <!-- Conteúdo da coluna de largura 4 -->
      <div class="p-3 mb-2 bg-primary text-white">Coluna 4</div>
    </div>
    <div class="col-8">
      <!-- Conteúdo da coluna de largura 8 com boxes inline -->
      <div class="d-flex">
        <div class="p-3 mb-2 bg-secondary text-white flex-fill">Box 1</div>
        <div class="p-3 mb-2 bg-secondary text-white flex-fill">Box 2</div>
        <div class="p-3 mb-2 bg-secondary text-white flex-fill">Box 3</div>
      </div>
    </div>
  </div>
</div>










<div class="container-xxl">
    <div class="row">
      <div class="col-6 col-md-4">

       <%= render :partial => 'menu' %>
       <%= render :partial => 'no_data' if @no_configuration_data %>
          
      </div>
   
      <div class="col-md-8">
          <div class="box">
              <h3><b>Mensal</b></h3>
              <p>Coletas de dados de ACesso,</br>SCM, SEAC, STFC</p>
          </div>
        </div>

       
          <div class="box">
              <h3><b>Mensal</b></h3>
              <p>Coletas de dados de ACesso,</br>SCM, SEAC,STFC</p>
          </div>
      

       
          <div class="box">
              <h3><b>Mensal</b></h3>
              <p>Coletas de dados de ACesso,</br>SCM, SEAC,STFC</p>
          </div>
     </div>
        
    
</div>














<div class="container-xxl">
  
    
        <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <h3><b>Mensal</b></h3>
                    <p>Coletas de dados de ACesso,</br>SCM, SEAC,STFC</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box">
                    <h3>Semestral</h3>
                    <p>Conteúdo da Caixa 2</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box">
                    <h3>Anual</h3>
                    <p>Conteúdo da Caixa 3</p>
                </div>
            </div>

        </div>
    <div class="row">
      <div class="col-md-4">
       <%= render :partial => 'menu' %>
       <%= render :partial => 'no_data' if @no_configuration_data %>
      </div>
    </div>

<div class="row">
  <div class="col-4">
  
    
    </div>
</div>
    























  


<div id="admin-index">
 <div class="row">
 




  </div>
</div>
</div>
  
  



