<div class="card-body">
              <%= form_for @coleta, url: coleta_mensalatualizar_path do |f| %>
                   <%= f.hidden_field :id_coleta, :value => @coleta.id %>

                    <div class="box-title"><%= @coleta.tipoColeta %></div>
                       <div class="box-description">Coleta de dados de acessos:
                         
                       <div class="row mb-3">
                         <div class="col-md-6">
                              <p><%= f.label :cnpj, "Cidade", class: "form-label" %></p>
                               <p><%= f.text_field :cidade, class: "form-control", id: "cidade", placeholder: "Digite o CNPJ da Prestadora" %></p>
                         </div>
                         <div class="col-md-6">
                               <p><%= f.label :ano, "Cidade", class: "form-label" %></p>
                               <p><%= f.text_field :ano, class: "form-control", id: "ano", placeholder: "Digite o ano" %></p>
                         </div>
                       </div>

                      <div class="row mb-3">
                        <div class="col-md-6">
                          <p><%= f.label :trimestre, "Trimestre", class: "form-label" %></p>
                          <p><%= f.select :trimestre, options_for_select([['TR', 1], ['TR', 2], ['TR', 3], ['TR', 4]]) %></p>
                        </div>
                        <div class="col-md-6">
                          <p><%= f.label :uf, "Selecione o Estado" %></p>
                              <p><%= f.select :uf, options_for_select([['AC', 'AC'], ['AL', 'AL'], ['AP', 'AP'], ['AM', 'AM'], ['BA', 'BA'], ['CE', 'CE'], ['DF', 'DF'], ['ES', 'ES'], ['GO', 'GO'], ['MA', 'MA'], ['MT', 'MT'],['MS', 'MS'], ['MG', 'MG'], ['PA', 'PA'], ['PB', 'PB'], ['PR', 'PR'], ['PE', 'PE'], ['PI', 'PI'], ['RJ', 'RJ'], ['RN', 'RN'], ['RS', 'RS'], ['RO', 'RO'], ['RR', 'RR'], ['SC', 'SC'], ['SP', 'SP'], ['SE', 'SE'], ['TO', 'TO']]) {}, class:'form-select' %></p>
                        </div>
                      </div>

                     <div class="row mb-3">
                       <div class="col-md-6">
                          <p><%= f.label :dadoInformado, "Dado Informado", class: "form-label" %></p>
                          <p><%= f.select :dadoInformado, options_for_select([['receita', 'Receita_Operacional_Líquida_ROL'], ['capital', 'Capital_Expenditure_CAPEX'], ['trafego', 'Tráfego_Dados_Total_MB, Tráfego_Voz_Minutos']])</p>
                        </div>

                         <div class="col-md-6">
                          <p><%= f.label :valor, "Valores", class: "form-label" %></p>
                          <p><%= f.text_field :valor, class: "form-control", id: "valores", placeholder: "Valores" %></p>
                        </div>

                      
                    </div>

                    <div class="row mb-3">
                       <div class="col-md-6">
                          <p><%= f.label :cn, "CN", class: "form-label" %></p>
                          <p><%= f.text_field :cn, class: "form-control", id: "cn", placeholder: "CN" %></p>
                        </div>

                       
                      
                    </div>

                    

                                                      
                     <%= f.submit "Adicionar", class:" btn btn-primary" %>



               <% end %>

  </div>
</div>
