<div class="card-body">
              <%= form_for @coleta, url: coleta_anualatualizar_path do |f| %>
                   <%= f.hidden_field :id, :value => @coleta.id %>

                    <div class="box-title"><%= @coleta.tipoColeta %></div>
                       <div class="box-description">Coleta de dados de acessos:
                         
                       <div class="row mb-3">
                         <div class="col-md-6">
                              <p><%= f.label :cnpj, "CNPJ da Prestadora", class: "form-label" %></p>
                               <p><%= f.text_field :cnpj, class: "form-control", id: "cnpj", placeholder: "Digite o CNPJ da Prestadora" %></p>
                         </div>
                         <div class="col-md-6">
                               <p><%= f.label :ano, "Ano", class: "form-label" %></p>
                               <p><%= f.text_field :ano, class: "form-control", id: "ano", placeholder: "Digite o ano" %></p>
                         </div>
                       </div>

                      <div class="row mb-3">
                        <div class="col-md-6">
                          <p><%= f.label :idEstacaoOrigem, "Id da estação de origem", class: "form-label" %></p>
                          <p><%= f.text_field :idEstacaoOrigem, class: "form-control", id: "idEstacaoOrigem", placeholder: "Id da Estação de Origem" %></p>
                        </div>
                        <div class="col-md-6">
                          <p><%= f.label :idEstacaoDestino, "Id da estação de destino", class: "form-label" %></p>
                          <p><%= f.text_field :idEstacaoDestino, class: "form-control", id: "idEstacaoDestino", placeholder: "Id da Estação de destino" %></p>
                        </div>
                      </div>

                     <div class="row mb-3">
                      <div class="col-md-6">
                         <p><%= f.label :idEnlace, "Id Enlace", class: "form-label" %></p>
                         <p><%= f.text_field :idEnlace, class: "form-control", id: "idEnlace", placeholder: "Id Enlace" %></p>
                      </div>
                       <div class="col-md-6">
                          <p><%= f.label :enlaceMeio, "Enlace Meio", class: "form-label" %></p>
                          <p><%= f.select :enlaceMeio, options_for_select([['escolher', 'Escolher...'],['cabo_metalico', 'cabo_metálico'], ['radio', 'Rádio'], ['fibra', 'Fibra']]) %></p>
                        </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-6">
                         <p><%= f.label :enlaceNominal, "Enlace Nominal", class: "form-label" %></p>
                         <p><%= f.text_field :enlaceNominal, class: "form-control", id: "enlaceNominal", placeholder: "Enlace Nominal" %></p>
                      </div>
                       <div class="col-md-6">
                          <p><%= f.label :enlaceSwap, "Enlace Swap", class: "form-label" %></p>
                          <p><%= f.select :enlaceSwap, options_for_select([['escolher', 'Escolher...'],['s', 'S(SIM)'], ['n', 'N(NÃO)']]) %></p>
                        </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-6">
                         <p><%= f.label :geometriaWkt, "Geometria WKT", class: "form-label" %></p>
                         <p><%= f.text_field :geometriaWkt, class: "form-control", geometriaWkt: "Geometria WKT", placeholder: "Cep" %></p>
                      </div>
                       <div class="col-md-6">
                          <p><%= f.label :srid, "SRID", class: "form-label" %></p>
                          <p><%= f.text_field :srid, class: "form-control", srid: "SRID", placeholder: "SRID" %></p>
                        </div>
                    </div>

                                                                          
                     <%= f.submit "Adicionar", class:" btn btn-primary" %>



               <% end %>

  </div>
</div>
