

<div class="container mt-5">
<h3><strong>Fazer coleta</strong></h3>

<% if @coleta.tipoColeta == 'SCM' %>
  <%= render "coleta/coleta_mensal_scm" %>
<% end %>

<% if @coleta.tipoColeta == 'TVpA' %>
  <%= render "coleta/coleta_mensal_tvpa" %>
<% end %>

<% if @coleta.tipoColeta == 'STFC' %>
  <%= render "coleta/coleta_mensal_tvpa" %>
<% end %>

<% if @coleta.tipoColeta == 'SCM' %>
  <%= render "coleta/coleta_semestral_scm" %>
<% end %>

<% if @coleta.tipoColeta == 'SEAC' %>
  <%= render "coleta/coleta_semestral_seac" %>
<% end %>

<% if @coleta.tipoColeta == 'SMP' %>
  <%= render "coleta/coleta_semestral_smp" %>
<% end %>
</div>

