


<h2><strong><%= @organizacao.nome %></strong></h2><br/>
        
<div class="container mt-5">
        <h3><strong>Dados da Empresa</strong></h3>
        <div class="card">
            <div class="card-body d-flex">
                <div class="me-3">
                    <strong>Cnpj:</strong> <%= @organizacao.cnpj %><br/>
                    <strong>Endereço :</strong> <%= @organizacao.endereco %><br/>
                    <strong>Cep:</strong> <%= @organizacao.cep %><br/>
                    <strong>Uf:</strong> <%= @organizacao.uf %><br/>
                    <strong>Telefone:</strong> <%= @organizacao.telefone %><br/>
                    <strong>Email:</strong> <%= @organizacao.email %><br/>
                    <strong>Serviços de Telecom:</strong> <%= @organizacao.servicos %>
                </div>
               
               
            </div>
        </div>
    </div>
    <div class="container mt-5">
       <h3><strong>Dados do Responsável da Empresa</strong></h3>
        <div class="card">
            <div class="card-body d-flex">
                <div class="me-3">
                    <strong>Nome:</strong> <%= @responsavelEmpresa.name %> 
                </div>
                <div class="me-3">
                    <strong>Sobrenome:</strong> Silva
                </div>
                <div class="me-3">
                    <strong>Email:</strong> joao.silva@example.com
                </div>
                <div>
                    <strong>Telefone:</strong> (61) 98765-4321<br/><br/>
                </div>
            </div>
        </div>
    </div>

       <div class="container mt-5">
       <h3><strong>Dados do Responsável pelo Preenchimento dos Formulários</strong></h3>
        <div class="card">
            <div class="card-body d-flex">
                <div class="me-3">
                    <strong>Nome:</strong> <%= @responsavelPreenchimento.name %> 
                </div>
                <div class="me-3">
                    <strong>Sobrenome:</strong> Silva
                </div>
                <div class="me-3">
                    <strong>Email:</strong> joao.silva@example.com
                </div>
                <div>
                    <strong>Telefone:</strong> (61) 98765-4321<br/><br/>
                </div>
            </div>
        </div>
    </div>








<div class="container mt-5">
     <div class="box-title">COLETAS <BR/></div>
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">MENSAL</div>
                    <a href="http://201.76.43.189:88/coleta/mensal/criar" class="box-link">Criar coleta</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">SEMESTRAL</div>
                    <a href="http://201.76.43.189:88/coleta/semestral/criar" class="box-link">Criarr coleta</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">ANUAL</div>
                    <a href="http://201.76.43.189:88//coleta/anual/criar" class="box-link">Criar coleta</a>
                </div>
            </div>
        </div>
    </div><br/>

        <table class="table table-custom">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Coleta</th>
                    <th scope="col">Status</th>
                    <th scope="col">Data</th>
                    <th scope="col">Formulário</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Atrasada</td>
                    <td>Julho 2024</td>
                    <td>Mensal</td>
                    <td>SCM</td>
                    <td><a href="http://201.76.43.189:88/cliente/mensal" class="btn btn-sm btn-custom">Fazer coleta</a> </td>

                </tr>
               </td>
                        
                </tr>
                <tr>
                    <td>2</td>
                    <td>Feita</td>
                    <td>Junho 2024</td>
                    <td>Semestral</td>
                    <td></td>
                    <td><a href="#" class="btn btn-sm btn-custom">Ver coleta</a></td>
                </tr>
                </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>A Fazer</td>
                    <td>Agosto 2024</td>
                    <td>Anual</td>
                    <td>Estação</td>
                    <td><a href="#" class="btn btn-sm btn-custom">Fazer coleta</a></td>
                </tr>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
