


<h2><strong><%= @organizacao.nome %></strong></h2><br/>
        
<div class="container mt-5">
        <h3><strong>Dados da Empresa</strong></h3>
        <div class="card">
            <div class="card-body d-flex">
                <div class="me-3">
                    <strong>Cnpj:</strong> <%= @organizacao.cnpj %><br/>
                    <strong>Endereço :</strong> <%= @organizacao.endereco %><br/>
                    <strong>Cep:</strong> <%= @organizacao.cep %><br/>
                    <strong>Uf:</strong> <%= @organizacao.uf %><br/>
                    <strong>Telefone:</strong> <%= @organizacao.telefone %><br/>
                    <strong>Email:</strong> <%= @organizacao.email %><br/>
                    <strong>Serviços de Telecom:</strong> <%= @organizacao.servicos %>
                </div>
               
               
            </div>
        </div>
    </div>
    <div class="container mt-5">
       <h3><strong>Dados do Responsável da Empresa</strong></h3>
        <div class="card">
            <div class="card-body d-flex">
                <div class="me-3">
                    <strong>Nome:</strong> <%= @responsavelEmpresa.nome %> 
                </div>
                
                <div class="me-3">
                    <strong>Email:</strong> <%= @responsavelEmpresa.email %> 
                </div>
                <div class="me-3">
                    <strong>Telefone:</strong> <%= @responsavelEmpresa.telefone %>
                </div>
            </div>
        </div>
    </div>

       <div class="container mt-5">
       <h3><strong>Dados do Responsável pelo Preenchimento dos Formulários</strong></h3>
        <div class="card">
            <div class="card-body d-flex">
                <div class="me-3">
                    <strong>Nome:</strong> <%= @responsavelPreenchimento.nome %> 
                </div>
                
                <div class="me-3">
                    <strong>Email:</strong> <%= @responsavelPreenchimento.email %> 
                </div>
                <div class="me-3">
                    <strong>Telefone:</strong> <%= @responsavelPreenchimento.telefone %>
                </div>
            </div>
        </div>
    </div>








<div class="container mt-5">
     <div class="box-title">COLETAS <BR/></div>
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">MENSAL</div>
                    <a href="/coleta/mensal/criar?id_projeto=<%= @organizacao.idProject %>" class="box-link">Criar coleta</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">SEMESTRAL</div>
                    <a href="/coleta/semestral/criar?id_projeto=<%= @organizacao.idProject %>" class="box-link">Criar coleta</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">ANUAL</div>
                    <a href="/coleta/anual/criar?id_projeto=<%= @organizacao.idProject %>" class="box-link">Criar coleta</a>
                </div>
            </div>
        </div>
    </div><br/>

        <table class="table table-custom">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Coleta</th>
                    <th scope="col">Status</th>
                    <th scope="col">Data</th>
                    <th scope="col">Formulário</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>

                <% for coleta in @coletas %>
                <tr>
                    <td>1</td>
                    <td><%= coleta.status %></td>
                    <td><%= coleta.textoData %></td>
                    <td><%= coleta.tituloColeta %></td>
                    <td><%= coleta.tipoColeta %></td>
                    <td><a href="/cliente/mensal?id_projeto=<%= @organizacao.idProject %>" class="btn btn-sm btn-custom">Criar coleta</a> </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
