
        
<div class="container mt-5">
<h3><strong><%=@organizacao.nome %></strong></h3><br/>
        <h5><strong>Dados da Empresa</strong></h5>
        <div class="card">
            <div class="card-body d-flex">
                <div class="me-3">
                    <strong>Cnpj:</strong> <%= @organizacao.cnpj %><br/>
                    <strong>Endereço :</strong> <%= @organizacao.endereco %><br/>
                    <strong>Cep:</strong> <%= @organizacao.cep %><br/>
                    <strong>Uf:</strong> <%= @organizacao.uf %><br/>
                    <strong>Telefone:</strong> <%= @organizacao.telefone %><br/>
                    <strong>Email:</strong> <%= @organizacao.email %><br/>
                    <strong>Serviços de Telecom:</strong> <%= @organizacao.servicos %>
                </div>
               
               
            </div>
        </div>
    </div>
    <div class="container mt-5">
       <h5><strong>Dados do Responsável da Empresa</strong></h5>
        <div class="card">
            <div class="card-body d-flex">
                <div class="me-3">
                    <strong>Nome:</strong> <%= @responsavelEmpresa.nome %> 
                </div>
                
                <div class="me-3">
                    <strong>Email:</strong> <%= @responsavelEmpresa.email %> 
                </div>
                <div class="me-3">
                    <strong>Telefone:</strong> <%= @responsavelEmpresa.telefone %>
                </div>
            </div>
        </div>
    </div>

       <div class="container mt-5">
       <h5><strong>Dados do Responsável pelo Preenchimento dos Formulários</strong></h5>
        <div class="card">
            <div class="card-body d-flex">
                <div class="me-3">
                    <strong>Nome:</strong> <%= @responsavelPreenchimento.nome %> 
                </div>
                
                <div class="me-3">
                    <strong>Email:</strong> <%= @responsavelPreenchimento.email %> 
                </div>
                <div class="me-3">
                    <strong>Telefone:</strong> <%= @responsavelPreenchimento.telefone %>
                </div>
            </div>
        </div>
    </div>


     
     
<div class="container mt-5">
     <div class="box-title">COLETAS 2024 <BR/></div>

<div class="container mt-5">
   <div class="d-flex justify-content-center">
      <div class="btn-group" role="group">
        <a href="/analista/cliente_analista?id_projeto=<%= @organizacao.idProject  %>&titulo_coleta=ColetaMensal" class="btn <%= @tituloColeta == 'ColetaMensal' ? 'btn-success  ': 'btn-secondary ' %> btn-primary rounded-pill mx-1 btn-lg" >Mensal</a>
        <a href="/analista/cliente_analista?id_projeto=<%= @organizacao.idProject  %>&titulo_coleta=ColetaSemestral" class="btn <%= @tituloColeta == 'ColetaSemestral' ? 'btn-success ': 'btn-secondary ' %> btn-primary rounded-pill mx-1 btn-lg">Semestral</a>
        <a href="/analista/cliente_analista?id_projeto=<%= @organizacao.idProject  %>&titulo_coleta=ColetaAnual" class="btn <%= @tituloColeta == 'ColetaAnual' ? 'btn-success ': 'btn-secondary ' %> btn-primary rounded-pill mx-1 btn-lg">Anual</a>
      </div>

    </div>
  </div>


<div class="row justify-content-center">
            <div class="col-md-4">
                <div class="custom-box">
                  <a href="/analista/cliente_analista?id_projeto=<%= @organizacao.idProject  %>&titulo_coleta=ColetaMensal" class="btn <%= @tituloColeta == 'ColetaMensal' ? 'btn-success  ': 'btn-secondary ' %> btn-primary btn-lg" >Mensal</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-box">
                    <a href="/analista/cliente_analista?id_projeto=<%= @organizacao.idProject  %>&titulo_coleta=ColetaSemestral" class="btn <%= @tituloColeta == 'ColetaSemestral' ? 'btn-success ': 'btn-secondary ' %> btn-primary  btn-lg">Semestral</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">ANUAL</div>
                    <a href="/analista/cliente_analista?id_projeto=<%= @organizacao.idProject  %>&titulo_coleta=ColetaAnual" class="btn <%= @tituloColeta == 'ColetaAnual' ? 'btn-success ': 'btn-secondary ' %> btn-primary  btn-lg">Anual</a>
                </div>
            </div>
        </div>



<br/><br/>



        <table class="table table-custom">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Status</th>
                    <th scope="col">Formulário</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>

                <% for coleta in @coletas %>
                <tr>
                    <td><%= coleta.textoData %></td>
                   
                   <td><span class="badge rounded-pill <%= coleta.status == 'Coleta Atrasada' ? 'bg-danger' : coleta.status == 'Coleta Realizada' ? 'bg-success' : 'bg-secondary' %>"><%= coleta.status %></span></td>
                   <td><%= coleta.tituloColeta %></td>
                   <td><%= coleta.tipoColeta %></td>
                    <% if coleta.dataRealizacao.nil? %>
                            <td><a href="#" class="btn btn-sm btn-custom">Aguardando dados da coleta...</a> </td>
                    <% else %>
                            <td><% if coleta.dataInformacaoEnvio.nil? %>
                               <a href="/coleta/gerarcsv?id_coleta=<%= coleta.id %>" class="btn btn-outline-secondary">Gerar Csv</a>
                                      
 
                                      
                            <% end %>
                    <% end %>

                </tr>
                <% end %>
            </tbody>
        </table>

          <div class="container">
<br/>
        <div class="box-title">CRIAR COLETAS <BR/></div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">MENSAL</div>
                    <a href="/coleta/mensalcriar?id_projeto=<%= @organizacao.idProject %>" class="box-link">Criar coleta</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">SEMESTRAL</div>
                    <a href="/coleta/semestralcriar?id_projeto=<%= @organizacao.idProject %>" class="box-link">Criar coleta</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-box">
                    <div class="box-title">ANUAL</div>
                    <a href="/coleta/anualcriar?id_projeto=<%= @organizacao.idProject %>" class="box-link">Criar coleta</a>
                </div>
            </div>
        </div>
    </div><br/>



    </div>
