<h2><b>Criar conta</b></h2>
<p>Para criar sua conta precisamos que você preencha<br/> as informações a seguir. </p>

<%= labelled_form_for @user, :url => register_path do |f| %>
<%= error_messages_for 'user' %>

<div class="box tabular">
<h3>Dados do Usuário</h3>
<% if @user.auth_source_id.nil? %>
  <p><%= f.text_field :login, :size => 25, :required => true %></p>

  <p><%= f.password_field :password, :size => 25, :required => true %>
  <em class="info"><%= l(:text_caracters_minimum, :count => Setting.password_min_length) %></em>
  <% if Setting.password_required_char_classes.any? %>
    <em class="info"><%= l(:text_characters_must_contain, :character_classes => Setting.password_required_char_classes.collect{|c| l("label_password_char_class_#{c}")}.join(", ")) %></em>
  <% end %>
  </p>
  <p><%= f.password_field :password_confirmation, :size => 25, :required => true %></p>
<% end %>

<h3>Dados do Cliente</h3>
<p><%= f.text_field :firstname, :required => true %></p>
<p><%= f.text_field :lastname, :required => true %></p>
<p><%= f.text_field :mail, :required => true %></p>

<h3>Dados da Empresa</h3>
<p><label for="fname">Nome da Empresa:</label></p> 
<p><input type="text" id="" name=""></p>
<p><label for="fname">UF:</label></p>
 <p><input type="text" id="" name=""</label></p>
<p><label for="fname">CNPJ:</label</p>
 <p><input type="text" id="" name=""</label></p>
<br/>
<p><label for="fname">Outorgas de serviços</label></p>
<select class="form-select" aria-label="Default select example">
  <option selected>Selecione</option>
  <option value="1">SCM</option>
  <option value="2">TV por Assinatura</option>
  <option value="3">STFC</option>
  <option value="3">SPM-RV</option>
  <option value="3">Dispensa de Outorga</option>
</select>






<%= labelled_fields_for :pref, @user.pref do |pref_fields| %>

<% end %>




</div>

<%= submit_tag l(:button_submit) %>
<% end %>
