<h2><b>Criar conta</b></h2>
<p>Para criar sua conta precisamos que você preencha<br/> as informações a seguir. </p>

<%= labelled_form_for @user, :url => register_path do |f| %>
<%= error_messages_for 'user' %>

<div class="box tabular">
<% if @user.auth_source_id.nil? %>
  <p><%= f.text_field :login, :size => 25, :required => true %></p>

  <p><%= f.password_field :password, :size => 25, :required => true %>
  <em class="info"><%= l(:text_caracters_minimum, :count => Setting.password_min_length) %></em>
  <% if Setting.password_required_char_classes.any? %>
    <em class="info"><%= l(:text_characters_must_contain, :character_classes => Setting.password_required_char_classes.collect{|c| l("label_password_char_class_#{c}")}.join(", ")) %></em>
  <% end %>
  </p>
  <p><%= f.password_field :password_confirmation, :size => 25, :required => true %></p>
<% end %>

<p><%= f.text_field :firstname, :required => true %></p>
<p><%= f.text_field :lastname, :required => true %></p>
<p><%= f.text_field :mail, :required => true %></p>
<%= labelled_fields_for :pref, @user.pref do |pref_fields| %>

<% end %>


</div>

<%= submit_tag l(:button_submit) %>
<% end %>
