<div class="container">
<br/><br/>
<h3>Status da Coleta</h3>

        <table class="table table-custom">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Status</th>
                    <th scope="col">Formulário</th>
                    <th scope="col">Tipo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= @coleta.textoData %></td>
                     <td><span class="badge rounded-pill <%= @coleta.status == 'Aguardando Coleta' ? 'bg-secondary' : @coleta.status == 'Coleta Realizada' ? 'bg-success' : 'bg-danger' %>"><%= @coleta.status %></span></td>
                     <td><%= @coleta.tituloColeta %></td>
                     <td><%= @coleta.tipoColeta %></td>
                </tr>
            </tbody>
      </table>
<br/><br/><hr>

<% if @coleta.tipoColeta == 'SCM' %>
  <%= render "coletamensal/ver_scm" %>
<% end %>

<% if @coleta.tipoColeta == 'TvPA' %>
  <%= render "coletamensal/ver_tvpa" %>
<% end %>

<% if @coleta.tipoColeta == 'STFC' %>
  <%= render "coletamensal/ver_stfc" %>
<% end %>


<div class="row mb-3">
        <div class="col-md-6">
          <%= link_to 'Concluir', cliente_cliente_path, class: 'btn btn-secondary btn-lg  text-white' %>

        </div>
</div>
</div>
