
<div class="container">
  <h4> Lista de Coletas</h4>
    <table class="table table-custom">
            <thead class="thead-light">
                <tr>
                    <th scope="col">CNPJ da Prestadora</th>
                    <th scope="col">Ano</th>
                    <th scope="col">Id da estação de origem</th>
                    <th scope="col">Id da estação de destino</th>
                    <th scope="col">Id Enlace</th>
                    <th scope="col">Enlace Meio</th>
                    <th scope="col">Enlace Nominal</th>
                    <th scope="col">Enlace Swap</th>
                    <th scope="col">Geometria WKT</th>
                    <th scope="col">SRID</th>
                    
                </tr>
            </thead>
            <tbody>
             <% for coleta in @coletas %>
                <tr> 
                     <td><%= coleta.cnpj %></td>
                     <td><%= coleta.ano %></td>
                     <td><%= coleta.idEstacaoOrigem %></td>
                     <td><%= coleta.idEstacaoDestino %></td>
                     <td><%= coleta.idEnlace %></td>
                     <td><%= coleta.enlaceMeio %></td>
                     <td><%= coleta.enlaceNominal %></td> 
                     <td><%= coleta.enlaceSwap %></td>
                     <td><%= coleta.geometriaWkt %></td>
                     <td><%= coleta.srid %></td>
                </tr>
            <% end %>
              
               
            </tbody>
        </table>
</div>
