

<div class="container">
  <h4> Lista de Coletas</h4>
    <table class="table table-custom">
            <thead class="thead-light">
                <tr>
                    <th scope="col">CNPJ</th>
                    <th scope="col">Ano</th>
                    <th scope="col">Id da estação</th>
                    <th scope="col">Número da Estação</th>
                    <th scope="col">Código IBGE</th>
                    <th scope="col">Abertura</th>
                    <th scope="col">Cep</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Rua</th>
                    <th scope="col">Número</th> 
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                </tr>
            </thead>
            <tbody>
             <% for coleta in @coletas %>
                <tr> 
                     <td><%= coleta.cnpj %></td>
                     <td><%= coleta.ano %></td>
                     <td><%= coleta.idEstacao %></td>
                     <td><%= coleta.nEstacao %></td>
                     <td><%= coleta.codigoIBGE %></td>
                     <td><%= coleta.abertura %></td>
                     <td><%= coleta.cep %></td>
                     <td><%= coleta.cidade %></td>
                     <td><%= coleta.rua %></td>
                     <td><%= coleta.numeroEndereco %></td>
                     <td><%= coleta.latitude %></td>
                     <td><%= coleta.longitude %></td>
                      
                </tr>
            <% end %>
              
               
            </tbody>
        </table>
</div>
