# encoding: UTF-8


<h3>Configuracoes das Coletas</h3>



<p>
  <label for="settings_limiteColetaMensal">Dia limite da Coleta Mensal</label>
  <input type="number" id="settings_limiteColetaMensal" value="<%= settings['limiteColetaMensal'] %>" name="settings[limiteColetaMensal]" required style="width:90%"/>
</p>
<br />

<p>
  <label for="limiteColetaAnual ">Data limite da Coleta Anual</label>
  <input type="date" id="limiteColetaAnual " value="<%= settings['limiteColetaAnual '] %>" name="settings[limiteColetaAnual ]" required style="width:90%"/>
</p>
<br />

<p>
  <label for="limiteColetaSemestralPrim ">Data limite da Coleta Semestral - 1ยบ semestre</label>
  <input type="date" id="limiteColetaSemestralPrim " value="<%= settings['limiteColetaSemestralPrim '] %>" name="settings[limiteColetaSemestralPrim ]" required style="width:90%"/>
</p>
<br />

<p>
  <label for="limiteColetaSemestralSeg ">Data limite da Coleta Semestral - 2ยบ semestre</label>
  <input type="date" id="limiteColetaSemestralSeg " value="<%= settings['limiteColetaSemestralSeg '] %>" name="settings[limiteColetaSemestralSeg ]" required style="width:90%"/>
</p>

<br />

                 <div class="row mb-3">
                       <div class="col-md-6">
                          <p><label for="settings_limiteColetaMensal">Dia limite da Coleta Mensal</label></p>
                          <input type="number" id="settings_limiteColetaMensal" value="<%= settings['limiteColetaMensal'] %>" name="settings[limiteColetaMensal]" required style="width:90%"/>
                       </div>
                       
                     </div>

                     <div class="row mb-3">
                       <div class="col-md-6">
                          <p><label for="limiteColetaAnual ">Data limite da Coleta Anual</label></p>
                          <input type="date" id="limiteColetaAnual " value="<%= settings['limiteColetaAnual '] %>" name="settings[limiteColetaAnual ]" required style="width:90%"/>
                       </div>
                       
                     </div>

                        <div class="row mb-3">
                       <div class="col-md-6">
                          <p><label for="limiteColetaSemestralPrim ">Data limite da Coleta Semestral - 1ยบ semestre</label></p>
                          <input type="date" id="limiteColetaSemestralPrim " value="<%= settings['limiteColetaSemestralPrim '] %>" name="settings[limiteColetaSemestralPrim ]" required style="width:90%"/>
                       </div>
                       
                     </div>

                     <div class="row mb-3">
                       <div class="col-md-6">
                          <p><label for="limiteColetaSemestralSeg ">Data limite da Coleta Semestral - 2ยบ semestre</label></p>
                          <input type="date" id="limiteColetaSemestralSeg " value="<%= settings['limiteColetaSemestralSeg '] %>" name="settings[limiteColetaSemestralSeg ]" required style="width:90%"/>
                       </div>
                       
                     </div>
